<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="entry-popup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title text-center" id="myModalLabel">{{ settings.entry_popup_heading }}</h2>
        </div>
        <div class="modal-body">
          <p>{{ settings.entry_popup_text }}</p>
          {% if settings.entry_popup_newsletter %}
          {% include 'newsletter-form' %}
          {% endif %}
          {% if settings.entry_popup_social %}
          {% include 'social-profiles' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if ($.cookie('pop') == null) {
      function show_modal(){
        $('#myModal').modal();
      }
      window.setTimeout(show_modal, {{ settings.popup_delay }}); // delay before it calls the modal function
      $.cookie('pop', '{{ settings.popup_return }}');
    }
  });
</script>