/**
*
* Custom Css
*
*
**/


@import url('https://fonts.googleapis.com/css?family=Poppins');



.hide_mob{
  display:block;
}

.show_mob{
  
  display:none !important;
}


@media(max-width: 768px){
  .hide_mob
  {
    	display:none !important;
  }
  
  .show_mob{
    	display:block !important;
    	
  }
}

.font-color-white {
 	color: #fff;
}

#footer .copyright {
	background: #2F2F2F;
}

#footer .f_mid {
	box-shadow: 0px 0px 1px #696969;
}

#footer h4 {
	text-transform: uppercase;
	font-size: 14px !important;
}

#footer .f_mid .desc p, #footer .f_mid ul {
	line-height: 30px;
}

#footer .f_mid .desc .icons:before {
	color: #fff;
    margin-right: 14px;
    width: 33px;
    line-height: 29px;
    border: 2px solid #74797f;
    border-radius: 100%;
    text-align: center;
    float: left;
}

#footer .f_mid .desc span.ft-content:before {  
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: top;
    height: 33px;
    width: 33px;
    line-height: 29px;
    border: 2px solid #74797f;
    border-radius: 100%;
    text-align: center;
    margin-right: 14px;
    font-size: 14px;
    color: #fff;
    float: left;
}

#footer .f_mid .desc .adress span.ft-content:before {
  	content: "\f041";
}

#footer .f_mid .desc .phone span.ft-content:before {
  	content: "\f095";
}

#footer .f_mid .desc .email span.ft-content:before {
  	content: "\f003";
}
.info,.info-text{
 /*margin:16px auto;*/
  margin: auto;
}
.info{
  /*padding-top:15px;*/
  padding-top:0px;
}
.info-text h3{
    font-size: 16px;
    font-weight: normal;
    color: #545454;
    font-family: 'Poppins', sans-serif;
/*   padding: 10px; */
}
.collection-hldr{
    /* margin-top: 55px; */
    margin-top: 0px;
    /* margin-bottom: 0px !important; */
    margin-bottom: 25px !important;
}

#content .filter_c {
 z-index: 1;
 top: -20px;
}

#content .main_box .desc h5 {
 font-weight: normal;
 font-size: 12px !important;
 text-transform : capitalize;
}

#content .blog_blk {
 height: auto !important;
}

#header #nav .navbar h5 {
 font-weight: normal;
}

.cart_menu a.info_btn {
 background: #99c425;
}
#shopify-section-instagram-feed .container.brands_custom > ul  li{
   width: 225px !important;
}


/*Neil Where are you*/

@media (min-width: 992px) {
	#content .main_box .desc h5 {
		min-height: 64px;
    }
	.smh-blog .special-smh figure img {
		width: auto !important;
		height: 162px !important;
	}
	.smh-blog article:not(.special-smh ) {
		height: auto !important;
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
    }
  	.smh-blog .ideas-hover .special-smh figure figcaption {
      	right: 0;
      	width: 80%;
  		margin: 0 auto;
	}
  
  	#header .navbar-brand img {
      /*width: 5.3em;*/
      width: 8.5em;
  	}
}

@media (max-width: 991px) {
  #content .main_box .desc h5 {
    min-height: 55px;
  }
}

@media (min-width: 1200px) {
  #content .main_box .desc h5 {
      min-height: 48px;
  }
  #shopify-section-1493272680435 .container:first-child {
    /*height: 250px;*/
    height: 228px;
  }
}

.add_to_cart_btn {
  text-align: center;
}

.add_to_cart_btn .modal-button {
	margin-right: auto;
}

 .template-index #content {
   	padding: 0;
	clear: both;
	display: block;
} 

#shopify-section-slideshow #flexslider-slideshow {
    padding-top: 2px;
  	margin-bottom: 0px !important;
}

#content .main_box.feadured_col {
	box-shadow: none;
  	border: 0px;
}

#content .main_box .box_1 .on-sale {
	display: none;
}

@-webkit-keyframes myfirst {
	from {width: 0;}
	to {width: 100%;}
}
@keyframes myfirst {
	from {width: 0;}
	to {width: 100%;}
}

/** Jeferd Kyle 5-2-2017 **/

.smh-blog{
  margin-bottom: -25px;
  margin-top: 10px;
}

.smh-blog h3{
  padding-bottom: 10px;
  border-bottom: 3px solid #9ac625;
  margin-bottom: 13px;
}

.smh-blog article {
      /*padding-bottom: 30px;
      margin-bottom: 30px;*/
      border-bottom: 1px solid #cecece;
}



.smh-blog article img{
  width: 100%;
}

.smh-blog article figure{
  width: 130px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.smh-blog article.special-smh figure{
  width: 100%;
}

.smh-blog article .story_wof{
	overflow: visible;
    line-height: 1.125em;
	padding-left: 20px
}

.smh-blog article .story_wof h4 a{
  color: #282727;
  word-break: break-word;
}

.smh-blog article .story_wof h4 a:hover{
  color: #9ac625;
}


.smh-blog article .story_wof ul li{
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;
    line-height: 21px;
    color: #898989
}

.smh-blog article .story_wof ul li span.fa{
	font-size: 14px;
    line-height: 30px;
    color: #d7dbdb;
    /*margin-right: 7px;*/
	width: 0px;
}

.smh-blog article .story_wof ul li:first-child {
	display: none;
}

.smh-blog .story_wof .blog_blk {
	margin: 0 0 0px 0 !important;
}

.smh-blog .story_wof .title {
	padding: 0px 0px 0px !important;
	font-size: 16px;
}

.smh-blog .row .home_recentpost {
	padding-top: 0px !important;
}

.smh-blog .ideas-hover figure figcaption {
	font-size: 14px;
}

/*.smh-blog .blog-sections {
	padding-top: 10px;
}*/

#content .home_collection .main_box .box_1 img{
  width: 100%;
}
#content .home_collection .main_box:hover .box_1 img {
   -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
  
}

@media(max-width: 768px){
  
  .smh-blog article {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 0px solid #cecece;
  }

  .smh-blog article figure{
    width: 100%;
  }

  .smh-blog article{
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  
  .smh-blog article:not(.special-smh) .box img {
    min-height: 67px;
  }
  
  #content .home_collection .box_1 img {
    margin-top: 5px;
    width: 100%;
    transform: none !important;
	top: 0;
    max-height: none !important;
    max-width: none !important;
    height: auto !important;
  }
  #content .home_collection .box_1{
  	height: auto !important;
  }
  .header_bot .navbar .navbar-header #currencies {
    display: block;
  }
  .smh-blog .hide-in-mobile {
    display: block;
  }
  
  #header .navbar-brand img {
    width: 6em;
  }
  .zoomContainer {
    display: none;
  }
  
  #footer .f_mid {
  	padding-top: 20px;
    padding-bottom: 25px;
  }
  
  #footer .copyright {
  	padding: 15px 0;
  }
  
  .social {
  	padding-top: 15px;
  }
}

@media(min-width: 768px){
  .smh-blog article:last-child {
    border-bottom: none;
  }

  .smh-blog article.special-smh{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .owl-carousel .owl-item img {
    height: 150px;
  }
  .wsmenu-list .currency-switcher, .hidden-only-in-desktop {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 992px) {

  .smh-blog article:not(.special-smh ){
    height: 150px;
    overflow: hidden;
  }

  .smh-blog article:not(.special-smh) figure {
      width: 100px;
      float: right;
      margin-left: 15px;
      margin-bottom: 0;
  }

  .smh-blog article:not(.special-smh) .story_wof h4 a {
	  min-height: 84px;
      display: block;
  }
  
  .smh-blog article.special-smh .story_wof h4 a {
	  min-height: 63px;
      display: block;
  }
  
  .smh-blog article.special-smh > a {
      min-height: 140px;
      display: block;
  }
  .smh-blog article.special-smh {
  	  margin-bottom: 98px !important;
  }
  
  #shopify-section-1493272680435 .container:first-child {
    height: 166px;
  }
  .mobile-menu-close-li {
    display: none;
  }
  
  #header .navbar-brand img {
    width: 7em;
  }
  
}

@media (min-width: 992px) and (max-width: 1200px) {

  .smh-blog article:not(.special-smh ){
    height: 150px;
        padding-bottom: 18px;
    margin-bottom: 18px;
    overflow: hidden;
  }

 .smh-blog article {
 }

  .smh-blog article:not(.special-smh) .story_wof h4 a {
	  min-height: 63px;
      display: block;
  }
  
  .smh-blog article.special-smh {
      margin-bottom: 23px !important;
  }
  
  #shopify-section-1493272680435 .container:first-child {
    height: 230px;
  }

}

.ideas-hover figure figcaption {
  font-size: 14px !important;
}

.slider-no-padding-margin {
	margin: 0px !important;
	padding: 0px !important;
}

.header_bot .header_content .navbar-right #currencies {
	margin-top: 10px;
    margin-left: 8px;
}

.header_top .hed_right .top-header-socials {
	display: none !important;
}

//Update 20170704
//Ivan: Not too sure why this is another colour, being controlled by another set of code..

//Making another change 20170806
.wsmenu-list > li:nth-child(6) > a {
	color: #000000 !important;
}
.wsmenu-list > li:nth-child(6) > a:hover {
	color: #7f9e2a !important;
}

.anim_load {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    z-index: 8;
    height: 100%;
}

.timethai {
	position:absolute;
	top:0;
	left:0;
	background-color:#9ac625;
	height:5px;
	-webkit-animation: myfirst 5000ms ease-in-out;
	-moz-animation: myfirst 7000ms ease-in-out;
	-ms-animation: myfirst 7000ms ease-in-out;
	animation: myfirst 7000ms ease-in-out;
}

#header #nav .navbar .navbar-right {
	margin-right: 0px;
	margin-top: 5px;
}
.content-pad {
	  padding: 72px 0 0px 0 !important;
}

.single_menu_custom span {
    display: block;
    text-align: left;
}

.template-article #content .title {
	padding: 0 !important;
}

.template-article #content .title h4 {
	display: inline-block;
	font-size: 20px !important;
  	color: #626065;
	text-transform: capitalize;
}

.blog_c .sidebar .post_detail span, .blog_c .sidebar .post_detail br {
	display: none;
}

#content .main_box .desc .price, #content .main_box .box_1 .product-details .price, .mfp-content span.money {
    height: 2.5em;
}

#content .main_box .desc .price span.money:first-child:after {
    content: ' ';
    display: block;
}

.brands_custom .slider {
	display: none;
}

@media (min-width: 1200px) {
  
  .template-index .blog-sections h3 {
      font-size: 22px;
  }
  
}

.template-index .blog-sections h3 span {
	color: #adadad;
}

/*gidz start*/
.gs-buttons a[class*="gs-"]:link {
   background:#bcbcbc!important;
}
.gs-buttons a[class*="gs-"]:link:not(.gs-plus):not(.gs-hide):hover {
   opacity: 1.4!important;
}
.gs-buttons a[class*="gs-fb"]:link:not(.gs-plus):not(.gs-hide):hover {
   background: #3B5998!important;
}

.gs-buttons a[class*="gs-pn"]:link:not(.gs-plus):not(.gs-hide):hover {
   background: #BD081C!important;
}

.gs-buttons a[class*="gs-ig"]:link:not(.gs-plus):not(.gs-hide):hover {
   background: #F37344!important;
}
.gs-buttons:not(.gs-flat-colors).gs-color-grey a[class*="gs-"]:not(.gs-plus):not(.gs-badge):not(.gs-hide) {
   box-shadow: none!important;
}
/*
.sticky {
    margin-bottom: 22px;
}*/
/*gidz end*/

@media (max-width: 600px) {
  #header .navbar-brand > img {
      max-width: 140px !important;
  }
}

@media (max-width: 348px) {
  #header .navbar-brand img {
  	width: 5.2em;
  }
}


/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/****************************************/
/*
*   Owl Carousel Owl Demo Theme
* v1.3.3
*/

.owl-theme .owl-controls{
  text-align: center;
  opacity: 1;
}
.owl-theme .owl-controls .owl-pagination{margin-top:20px;}

.owl-theme .owl-controls .owl-buttons{}
.owl-theme .owl-controls .owl-buttons div{font-size: 0;width: 47px;color: #363636;height: 47px;line-height: 45px;background: transparent;border: 2px solid #363636;position: absolute;top: 50%;margin-top: -23px;left: 50px;visibility: hidden;opacity: 0;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;}
.owl-theme .owl-controls .owl-buttons .owl-next{right: 50px;left: inherit;}
.owl-theme:hover .owl-controls .owl-buttons .owl-prev{left:0;opacity:1;visibility:visible;}
.owl-theme:hover .owl-controls .owl-buttons .owl-next{right:0;opacity:1;visibility:visible;}
.owl-theme .owl-controls .owl-buttons div:before{
  content: "\f0d9";
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  font-family: FontAwesome;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
.owl-theme .owl-controls .owl-buttons .owl-next:before{
  content: "\f0da";
}

.owl-theme .owl-controls .owl-buttons div:hover{border-color: #85ae3a;color: #85ae3a;}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover:before,
.owl-theme .owl-controls .owl-buttons .owl-next:hover:before{}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 13px;
  height: 13px;
  margin: 5px 7px;/*IE7 fix*/
  opacity: 1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7b7b7b;
  text-align:center;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{/*IE7 fix*/border-color: #c38749;}
.owl-theme .owl-controls .owl-page.active span:before,
.owl-theme .owl-controls.clickable .owl-page:hover span:before{/*IE7 fix*/background: #c38749;}

/*----------------------------------------------------------*/

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl .owl-item .item-inner {
  line-height: 200px;
  text-align:center;
}

.owl .owl-item .item-inner img {
  vertical-align: middle;
}

.brands_custom{
/*   margin-top: 40px; */
  margin-bottom: 10px;
}

.brands_custom .owl .item img {
  height: 150px;
}

.forloop-index-first {
  min-height: 30px;
}

.owl-carousel .owl-item img {
  height: 150px;
}

.brands_custom .owl {
  background: #fff;
}

.template-index #header .header_bot {
  box-shadow: none;
}
.smh-blog .row .blogs-full-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.smh-blog .row.blog-row-nomarginpadding{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.smh-blog .blog-sections h3 span {
  /*display: none;*/
}
.smh-blog .story_wof .fa-user:before {
  content: '';
}
.header_bot.enabled-sticky-menu {
  padding-top: 0px !important;
  padding-bottom:0px !important;
}
.mobile-menu-close-li {
  height: 100%;
  position: absolute !important;
}
.mobilemenu-close-b {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -25px;
  bottom: 45%;
  background: url( //cdn.shopify.com/s/files/1/1771/9349/t/23/assets/back-normal.png?7681851811925893273);
  z-index: 9;
  background-size: cover;
}
.mobilemenu-close-b{
  display: none;
}
.container .breadcrumb {
  display: none;
}
html .gs-buttons.gs-no-counter.gs-small.gs-floating a[class*="gs-"] i {
  top: 1px;
}
.social-buttons-phone:before {
  content: "\f095";
  font-family: FontAwesome;
}
.gs-buttons a[class*="gs-mobile-phone"]:link:not(.gs-plus):not(.gs-hide):hover {
  background: #9ac625 !important;
}
.gs-buttons a[class*="gs-email"]:link:not(.gs-plus):not(.gs-hide):hover {
  background: #9ac625 !important;
}
.social-buttons-email:before {
  content: "\f003";
  font-family: FontAwesome;
}
.navbar-header {
  z-index: 100 !important;
}

.custom-toggle {
 padding-left: 5px;
 padding-right: 5px;
}
ul.owl {
  margin-bottom: 0px;
}
.brands_custom:before, .brands_custom:after {
  content: '';
  display: none;
}
.brands_custom .owl-controls {
  margin-top: 0px;
}
.carosel.product_c {
  padding-top: 0px;
  margin-bottom: 0px !important;
}
.carosel.product_c .owl-controls, 
.carosel.product_c .owl-pagination {
  margin-top: 0px;
}
.bottom-header-socials .social ul li a {
 background: #BCBCBC;
}
.shopify-challenge__container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#shopify-section-1494820166446 {
 display: none;
}

#shopify-section-1494820166446 #flexslider-1494820166446 {
 padding-top: 2px;
 margin-bottom: 0px !important;
}

@media (max-width: 768px) {
  #shopify-section-1494820166446 {
   display: block;
  }
  
  
  #content .pro_main_c .desc_blk h5 {
      color: #fff;
      background: #9ac625;
      border: 1px solid #efefef !important;
  }
  .mega_menu .megamenu li > a {
      background-color: rgba(0, 0, 0, 0) !important;
      line-height: 18px !important;
      padding: 6px 0px !important;
  }
  .mega_menu .megamenu li {
      width: 100%;
      display: block;
      min-height: 1px;
      padding-left: 40px;
  }
  .wsmenu-list > li:nth-child(6) > .megamenu ul > li {
      height: 25px;
  }
  .wsmenu-list > li:nth-child(6) > .megamenu ul > li > a {
      display: block;
  }
  .wsmenu li h5 a {
	  display: block;
  }
  .desc_blk .arrow-wrapper {
      z-index: 1;
      height: 43px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      cursor: pointer;
  }
  .desc_blk .arrow-wrapper .wsmenu-arrow {
	  display: block;
      height: 23px;
      width: 25px;
      margin-top: 11px;
      margin-right: 3px;
      background-size: 25px;
      font-size: 21px;
      float: right;
  }
  .desc_blk .arrow-wrapper .wsmenu-arrow:before {
      color: #fff;
  }
  /*.desc_blk .wsmenu-click.ws-activearrow .wsmenu-arrow {
      text-align: right;
  }*/
  .desc_blk .desc-wrapper .desc-readmore {
    display: none;
  }
}
@media (min-width: 768px) {
  #footer .email_box form {
      position: absolute;
      width: 302px;
      /*left: -67px;*/
	  /*right: 0px;*/
  }
  #footer .email_box form input[type='email'] {
    position: absolute;
	width: 87%;
    padding: 0 12px 0 5px;
  }

  #footer .email_box form btn.btn-link {
      right: 15px !important;
  }
  .desc_blk .wsmenu-click, .desc_blk .arrow-wrapper .wsmenu-arrow {
    display: none;
  }
  .desc_blk .desc-wrapper {
    position: relative;
  }
  .desc_blk .desc-wrapper .desc-readmore {
    position: absolute;
    bottom: 0;
    width: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 29px;
    line-height: 2;
    color: #9ac625;
    font-size: 14px;
  }
  .desc_blk .desc-wrapper .desc-readmore:hover {
  	color: #8AA63D;
    text-decoration: underline;
    cursor: pointer;
  }
  .desc_blk .desc-wrapper .desc-readmore .desc-readmore-arrow {
    padding-left: 10px;
  }
  .desc_blk .desc-wrapper .desc-readmore .less {
    display: none;
  }
}
.desc_blk .ui-accordion-header-icon.ui-icon {
  display: none;
}
.msrp-wrapper, .productprice-wrapper {
  float: left;
  clear: both;
}
.msrp-wrapper > i, .productprice-wrapper > i {
  font-style: normal;
}
.msrp-wrapper #comparePrice, .productprice-wrapper #productPrice {
  float: none;
}
.price_detail_page span i {
  text-align: left;
}
.box.collection-box.collection-image {
  text-align: center;
}
#content .main_box .desc .price span.compare-price, #content .main_box .box_1 .product-details span.compare-price {
  margin-left: 0px !important;
  display: block;
}
@media (min-width: 1200px) {
  .wsmenu {
    padding-top: 2px;
  }
  #header #nav .navbar .navbar-right {
    margin-top: 3.9px !important;
  }
  .header_bot .header_content .navbar-right #currencies {
    margin-top: 14px !important;
    
/*     margin-top: 22px !important; */
  }
  #footer .f_mid {
   	padding-bottom: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #header #nav .navbar .navbar-right {
    margin-top: -8px !important;
  }
  .header_bot .header_content .navbar-right #currencies {
    /*margin-top: 14px !important;*/
    margin-top: 22px !important;
  }
}
@media (min-width: 951px) and (max-width: 992px) {
  .wsmenu-list > li > a {
  	font-size: 12px !important;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.twin span:last-child {
	top: 17px;
}
.brand_b .image__wrap-grid {
	border: none;
  padding: 0px 20px
}
.catalog_c .resized-img-header-collection img {
	height: 222px;
}
#content .carosel.product_c {
	padding-top: 5px;
}
#content .carosel.product_c .owl-theme .owl-controls .owl-nav {
	top: -33px;
}
#content .carosel.product_c .main_box .desc {
	padding-bottom: 10px;
}
#content .catalog_c .sorting-wrapper{
	display: none;
}
.template-collection .select_box sel_2, .template-collection .sorting-label {
	display: none;
}

/** hide blog **/
.smh-blog {
	display: none;
}

.collection-list .product-details .price .compare-price.money {
	padding-left: 10px
}

.collection-list .product-details .desc-wrapper > ul {
	display: inline-block;
	text-align: left;
}

#header .search_menu .search_box .txtbox{border-radius:0px;}


@media (min-width: 1200px){
    #content .main_box .desc {
		padding-bottom:10px
    }
}
#content .product_c .featured-products .main_box {
	margin-bottom: 4px;
}
/*.catalog_c .product_c .collection-grid.view-grid {
	padding-top: 32px;
}*/
.catalog_c .product_c .filter_c {
  	display: none;
}
@media (min-width: 480px) {
  
  
  #footer .f_mid .container .row > div:nth-child(3) {
    width: 124px;
  }
  #footer .f_mid .container .row > div:nth-child(5) {
    width: 154px;
  }
}
@media (min-width: 480px) {
  #footer .f_mid .container .row .medians {
    float: left;
    display: block;
  }
}
@media (max-width: 991px) {
	.collection-box .row div:first-child {
		text-align: center;
    }
	.collection-box .row div:first-child img {
		height: 222px;
    }
}
#footer .f_mid .email_box button {
	right: 40px;
}

.image__wrap-grid img{
	width: 100%;
}

li.after_login_message {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0;
}

.after_login_navbar .navbar-header {padding-top:10px}
.after_login_navbar .wsmenu {padding-top:10px}

.after_login_navbar .navbar-right {padding-top:10px}

.doubly-wrapper.navbar-cart {
	display: none;
}

.navbar-right .doubly-wrapper {
	margin-top: 10% !important;
  	padding-left: 8px;
}

.header_left_mobile .doubly-wrapper {
	padding: 16px;
}

.header_left_mobile .nice-select.slim {
	float: inherit;
}


//Update date 20180806

.list-no-top {
  margin-top: 0px !important;
}
.list-no-bottom {
  margin-bottom: 0px !important;
}

@media (min-width: 768px) {
  #header #nav .navbar {
  	padding: 18px 0;
  }
}

.twin span:first-child {
	font-size: 12px;
}

.parent_search_bar .search_bar_div {
	border: 1px solid #ffffff !important;
    box-shadow: none;
    z-index: 10000000;
  	margin-right: -5px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .parent_search_bar .search_bar_div { 
    width: 70%;
    top: 54%;
  }
}

@media (min-width: 1200px) {
  .search_bar_div {
    width: 69%;
    top: 24%;
  }
  .header_bot .header_content .navbar-right #currencies {
    margin: 10px 10px;
    height: 34px;
/*     height: 40px; */
    width: 93%;
  }
  #header .menu_c.curr_menu {
    overflow: auto;
  }
}
/* .shopify-section:not(:first-child) .h_row_content > .clearfix {
  padding-top: 25px;
  padding-bottom: 5px;
} */

#shopify-section-1495433998664 .h_row_content > .clearfix {
  padding-top: 5px;
}
#shopify-section-1499224838478 .h_row_content > .clearfix {
  display: none;
} 


.brands{
  color: #000000!important;
}