{% if settings.product_grid_layout == '4-col' %}
{% assign grid_item_width = '3' %}
{% elsif settings.product_grid_layout == '3-col' %}
{% assign grid_item_width = '4' %}
{% else %}
{% assign grid_item_width = '6' %}
{% endif %}

<div id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class="catalog_c">
      <div class="title clearfix">
        <h1>{{ 'collections.general.title' | t }}</h1>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="product_c">
            <div class="row view-grid animated  fadeInUp" data-animation="fadeInUp" >
              {% for collection in collections %}
              {% unless collection.handle == 'frontpage' %}
              <div class="col-lg-{{ grid_item_width }} col-md-6 col-sm-6 element mb30">
                {% include 'collection-loop' %}
              </div>
              {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>